
.topnav {
  background-color: black;
  overflow: hidden;
  padding-top: 7px;
}

body {
  background-color: white;
  margin: 0px;

}

#check {
  display: none;
}

#options {
text-align: center;
}

button {
  text-align: center;
  background-color: gray;
  color: white;
}

#info {
  text-align: center;
  padding: 7px;
  padding-bottom: 15px;
  background-color: white;
}

#title {
    font-family: "Arial Black",arial,sans-serif;
    display: block;
    padding: 15px 15px;
    background-color: #161616;
    color: white;
    font-size: 26px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}
